<% provide(:title, 'Help') %>

<h1> <%= yield(:title) %> </h1>
<p>
 Akho – <br>
 From the Avestan Akha meaning evil, Akho is mentioned in the Denkard as a word representing a current 
</p>
<h2>
   Desire:<div class="desire">DESIRE</div>

   Will:<div class="will">WILL</div>

Belief:<div class="belief">BELIEF</div>
<br>
</h2>