<% provide(:title, 'Help') %>

<h1> <%= yield(:title) %> </h1>
<p>
 Akho – <br>
 From the Avestan Akha meaning evil, Akho is mentioned in the Denkard as a word representing a current 
</p>
<h2>
   Desire:<desire>DESIRE</desire>
<br>
   Will:<will>WILL</will>
<br>
Belief:<belief>BELIEF</belief>
<br>
</h2>