
<% provide(:title, @circiut_title) %>


<div class="center">
  <h1>Akho</h1>
 


<p><%= yield( :title) %>  </p>
<%= render :inline => @RandomCirciut %>

<br>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>







