



<div class="center">
  <h1>Akho</h1>
 


<%= render partial: "circuits/random", locals: { random: @circuits } %>

<br>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>







