/* desire */
@font-face {
  font-family: 'AkhoDesireDesire';
  src: url(/assets/akhodesire.eot);
  src: url(/assets/akhodesire.eot) format("embedded-opentype"), url(/assets/akhodesire.woff) format("woff"), url(/assets/akhodesire.ttf) format("truetype"), url(/assets/akhodesire.svg#AkhoDesireDesire) format("svg"); }

@font-face {
  font-family: 'AkhoWillRegular';
  src: url(/assets/akhowill.eot);
  src: url(/assets/akhowill.eot) format("embedded-opentype"), url(/assets/akhowill.woff) format("woff"), url(/assets/akhowill.ttf) format("truetype"), url(/assets/akhowill.svg#AkhoWillRegular) format("svg"); }

@font-face {
  font-family: 'AkhoBelieveBelief';
  src: url(/assets/akhobelief.eot);
  src: url(/assets/akhobelief.eot) format("embedded-opentype"), url(/assets/akhobelief.woff) format("woff"), url(/assets/akhobelief.ttf) format("truetype"), url(/assets/akhobelief.svg#AkhoBelieveBelief) format("svg"); }

.desire {
  font-family: "AkhoDesireDesire"; }

.belief {
  font-family: 'AkhoBelieveBelief'; }

.will {
  font-family: 'AkhoWillRegular'; }
