
<%= form_for(@push) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost..." %>
  </div>
  <%= f.submit "#{@pusher}", class: "btn btn-large btn-primary" %>
<% end %>