<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<p>
[Become - {AKHO} Circuit {DESIGNER} ]::
</p>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@designer) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>