<% provide(:title, @designer.name) %>
<br>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @designer %>
        <%= @designer.name %>
      </h1>
    </section>
  </aside>
</div>