<footer class="footer">
  <small>
    <%= link_to "AKHO",   '#' %>
    by Vovin Lonshin
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://realmovkhaos.tumblr.com/post/59520102204/on-the-chaos-magick-sigil-trend">News</a></li>
    </ul>
  </nav>
</footer>